<div>
    <div class="grid grid-flow-row grid-cols-1 sm:grid-cols-2">
        <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
            {%for msg in messages%}
            <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg"
                            alt="Neil image">
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            {{msg.name}}
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            {{msg.from_email}}
                        </p>
                        <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                            {{msg.date}}
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        <button type="button" unicorn:click="set_msg({{msg.pk}})"
                            class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Reply</button>
                    </div>
                </div>
            </li>
            {%endfor%}
        </ul>

        <form unicorn:submit.prevent="reply_to_msg">
            <h6>message: {{msg.content}}</h6>
            <h6>Yout name: {{request.user.username}}</h6>
            <h6>Yout email: {{request.user.email}}</h6>
            <hr>
            <p>reply {{reply}}</p>
        
            <div class="mb-6">
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Reply</label>
              <textarea unicorn:model.debounce-750="reply" type="text" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></textarea>
            </div>
            <div class="flex items-start mb-6">

            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
          </form>
    </div>



</div>
